# ESP32 WiFi Configuration
ESP32_WIFI_SSID=your_wifi_ssid
ESP32_WIFI_PASSWORD=your_wifi_password

# MQTT Broker Configuration
MQTT_BROKER=broker.hivemq.com
MQTT_PORT=1883

# MQTT Topics
MQTT_TOPIC_SUB=test0-0
MQTT_TOPIC_PUB=esp32/led/status

# Telegram Bot
TELEGRAM_TOKEN=your_telegram_bot_token_here
MQTT_TOPIC_LED=test0-0
